@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
    height: 60px;
    padding: 16px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header .container .nav {
    display: flex;
    gap: 18px;
}

.nav li a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    height: 400px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.hero .container .hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    flex-shrink: 0;
}

.hero .container .hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .container .hero-text p {
    width: 90%;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .container .hero-text button {
    width: 30%;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    margin-top: 4px;
}

.hero .container .hero-img {
    flex: 1;
    width: 200px;
    height: 47%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-info {
    padding: 32px 0;
    height: 500px;
    text-align: center;
}

.random-info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 48px;
}

.random-info .rand-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    margin: 0 auto;
}

.random-info .rand-cont .random-info-1 .box {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.random-info .rand-cont .random-info-1 {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 18px;
    color: gray;
}

.quote {
    background-color: #E5E7EB;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quote .container {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote .container .quote-txt {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote .container .quote-author {
    align-self: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
}